.container {
	display: flex;
	flex-direction: row;
	margin: 3rem 0;

	@media (max-width: 768px) {
		flex-direction: column;
	}

	.article {
		display: flex;
		flex-direction: column;
		padding: 0 2.5rem;
		max-width: 1024px;
		border-right: 1px solid #aaaaaa;

		@media (max-width: 768px) {
			border-right: none;
			padding: 0 1rem;
		}

		.archive-desc {
			padding: 1rem 0;
			border-bottom: 1px solid #aaaaaa;
		}

		.post-container {
			padding-top: 3rem;
			padding-bottom: 1rem;
			border-bottom: 1px solid #aaaaaa;

			@media (max-width: 768px) {
				padding-bottom: 0;
				border-bottom: none;
			}

			.post {
				display: flex;
				flex-direction: row;
				gap: 2rem;
				margin-bottom: 2rem;

				@media (max-width: 768px) {
					flex-direction: column;
					border-bottom: 1px solid #aaaaaa;
					padding-bottom: 2rem;
				}

				img {
					border-radius: 0.25rem;
					width: 256px;
					height: 204px;
					object-fit: cover;

					@media (max-width: 768px) {
						width: 100%;
						height: 100%;
					}
				}

				.post-desc {
					h3 {
						margin-bottom: 1rem;
					}

					p {
						margin-bottom: 1rem;
					}

					a {
						color: #000;
						text-decoration: none;

						@media (max-width: 768px) {
							float: right;
						}
					}
				}
			}
		}

		.pagination {
			margin: 2rem 0;

			@media (max-width: 768px) {
				margin-top: 0;
				padding-bottom: 2rem;
				border-bottom: 1px solid #aaaaaa;
			}

			a {
				color: #000;
			}

			.prev {
				text-decoration: none;
				background-color: #c4c4c4;
				padding: 0.25rem 1rem;
				border-radius: 0.25rem;
				float: left;
			}

			.next {
				text-decoration: none;
				background-color: #c4c4c4;
				padding: 0.25rem 1rem;
				border-radius: 0.25rem;
				float: right;
			}
		}
	}
}
