.post-content {
	display: flex;
	flex-direction: column;
	padding: 0 2.5rem;
	width: 70%;
	border-right: 1px solid #aaaaaa;

	@media (max-width: 768px) {
		border-right: none;
		padding: 0 1rem;
		width: 100%;
	}

	img {
		width: 100%;
		height: auto;
		margin-bottom: 1rem;
	}

	p {
		font-size: 0.938rem;
		margin-bottom: 1rem;

		a {
			color: #0170b9;
		}

		img {
			vertical-align: middle;
		}
	}

	li {
		font-size: 0.938rem;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 1rem;
	}

	h2 {
		font-size: 1.688rem;
	}

	h3 {
		font-size: 1.5rem;
	}

	h4 {
		font-size: 1.438rem;
	}

	h5 {
		font-size: 1.375rem;
	}

	h6 {
		font-size: 1.313rem;
	}

	ul,
	ol {
		margin-left: 1rem;
	}

	.post-title {
		font-size: 1.875rem;
	}

	.post-meta {
		color: #454545;
		font-size: 0.813rem;
		margin-bottom: 1rem;
	}

	.wp-block-quote {
		font-weight: bold;
		font-style: italic;
		padding: 1rem;
		margin: 1rem 0;
		border-left: 3px solid #c4c4c4;

		P {
			font-size: 1.188rem;
		}

		cite {
			color: #7a7a7a;
			font-size: 1.063rem;
			font-weight: bold;
		}
	}

	.wp-block-table {
		margin-bottom: 1rem;

		table {
			border-collapse: collapse;
			width: 100%;

			td,
			th {
				border: 1px solid #000;
			}

			th,
			td {
				padding: 1rem;
			}
		}
	}

	.wp-block-preformatted {
		padding: 1rem;
		margin-bottom: 1rem;
		background-color: #c4c4c4;
	}

	.wp-block-code {
		padding: 1rem;
		margin-bottom: 1rem;
		background-color: #c4c4c4;
	}

	.wp-block-button {
		width: 100%;

		.wp-block-button__link {
			display: block;
			text-align: center;
			text-decoration: none;
			padding: 0.5rem 1rem;
			margin-bottom: 1rem;
			border-radius: 0.25rem;
		}
	}

	.wp-block-separator {
		color: #c4c4c4;
		margin-bottom: 1rem;
	}

	.blocks-gallery-item {
		img {
			margin-bottom: 0;
		}
	}

	.blocks-gallery-grid {
		margin-left: 0;
	}

	.cat {
		padding: 1rem 0;
		border-top: 1px solid #aaaaaa;
	}

	.tag {
		padding: 1rem 0;
		border-top: 1px solid #aaaaaa;
	}

	.cat-name {
		color: #000;
		margin-right: 0.5rem;

		&::after {
			content: ',';
		}

		&:last-child::after {
			content: none;
		}
	}

	.post-pagination {
		padding: 1rem 0;
		border-top: 1px solid #aaaaaa;

		div {
			&:first-child {
				float: left;
				background-color: #c4c4c4;
				padding: 0.5rem;
				border-radius: 0.25rem;
			}

			&:last-child {
				float: right;
				background-color: #c4c4c4;
				padding: 0.5rem;
				border-radius: 0.25rem;
			}

			a {
				color: #000;
				text-decoration: none;
			}
		}
	}

	.author-desc {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		padding: 1rem 0;
		border-top: 1px solid #aaaaaa;
		border-bottom: 1px solid #aaaaaa;

		.avatar {
			width: 30%;
			text-align: center;

			img {
				width: 55%;
				border-radius: 50%;
				margin-bottom: 0;
			}
		}

		.details {
			width: 70%;

			h3 {
				font-size: 1.313rem;
			}

			p {
				font-size: 0.938rem;
			}
		}
	}

	.wp-block-pullquote {
		border-left: 3px solid #c4c4c4;
		p {
			font-style: italic;
			font-weight: 700;
			font-size: 1.188rem;
		}

		.cite {
			font-weight: 700;
			font-size: 1.063rem;
		}
	}
}
