.rtl {
	.single-post-content {
		ul,
		ol {
			margin: 0 3rem 1rem 3rem;

			li > ul,
			li > ol {
				margin-bottom: 0;
			}
		}

		.grigora-pro-cons .grigora-pc-table .wp-pros-list,
		.grigora-pro-cons .grigora-pc-table .wp-cons-list {
			margin-right: 0;
			margin-left: 0;
		}

		.wp-block-image .alignright {
			float: right;
			margin-left: 1em;
			margin-right: 0;
			margin-top: 0.5em;
			margin-bottom: 0.5em;
		}

		.wp-block-image .alignleft {
			float: left;
			margin-right: 1em;
			margin-left: 0;
			margin-top: 0.5em;
			margin-bottom: 0.5em;
		}
	}

	.desktop-nav .menu-container .menu-item-has-children a::after {
		margin-right: 8px;
	}

	.desktop-nav .menu-container .menu {
		padding: 0 0 0 4rem !important;
	}

	.desktop-nav .menu-container .search-btn {
		left: 1rem;
		right: unset;
	}

	.desktop-nav .search-box {
		flex-direction: row-reverse;
		left: 0;
		right: unset;
	}

	[class^='icon-'] li:before,
	[class*=' icon-'] li:before,
	.pc-btn-wrapper [class^='icon-']:before,
	.pc-btn-wrapper [class*=' icon-']:before {
		margin-right: 0.2em;
		margin-left: 0.5em;
	}

	.article .wp-block-quote {
		border-right: 3px solid #c4c4c4;
		border-left: none;
	}

	.wp-block-pullquote {
		border-right: 3px solid #c4c4c4;
		border-left: none;
	}
}
