.grigora-custom-big-text .footer-text {
	width: 100%;
	height: 150px;
}

.grg-range-picker {
	display: flex;
	gap: 0.5rem;

	.range {
		width: 80% !important;
	}

	.slider {
		-webkit-appearance: none;
		width: 100%;
		height: 3px;
		background: #d3d3d3;
		outline: none;
		transition: opacity 0.2s;
		margin: 1rem 0 !important;

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			width: 10px;
			height: 25px;
			border-radius: 3px;
			background: #005dc8;
			cursor: pointer;
		}
	}

	.unit {
		display: flex;
		gap: 0.2rem;

		.px {
			background: #fff;
			padding: 0.5rem;
			border-radius: 3px;
			border: 1px solid #8c8f94;
		}
	}
}

.grigora-custom-color-picker {
	display: flex;
	justify-content: space-between;

	.sp-replacer {
		width: 1.5rem;
		border-radius: 50%;
	}

	.sp-dd {
		display: none;
	}

	.customize-control-title {
		flex: 1;
	}
}

.grigora-custom-checkbox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.customize-control-title {
		flex: 1;
		align-self: center;
	}

	.grigora-custom {
		position: relative;
		display: table;
		top: 50%;
		width: 70px;
		height: 30px;
		border-radius: 100px;
		border: 1px solid #8c8f94;
		margin-bottom: 0;
		overflow: hidden;
		align-self: center;

		.checkbox {
			position: relative;
			width: 100%;
			height: 100%;
			padding: 0;
			margin: 0;
			opacity: 0;
			cursor: pointer;
			z-index: 3;

			&:checked + .knob:before {
				content: 'YES';
				left: 42px;
				background-color: #03a9f4;
			}

			&:checked ~ .layer {
				background-color: #ebf7fc;
			}
		}

		.knob {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 2;
			transition: 0.3s ease all;

			&::before {
				content: 'NO';
				position: absolute;
				top: 3px;
				left: 4px;
				width: 17px;
				height: 6px;
				color: #fff;
				font-size: 8px;
				font-weight: bold;
				text-align: center;
				line-height: 0.9;
				padding: 9px 4px;
				background-color: #f44336;
				border-radius: 50%;
				transition: 0.3s ease all;
			}
		}

		.layer {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			background-color: #fcebeb;
			transition: 0.3s ease all;
			z-index: 1;
		}
	}
}
