.wcm-page {
	display: flex;
	margin: 3rem auto;
	max-width: 1366px;

	ul {
		list-style: none;
	}

	.content-area {
		width: 70%;

		// p.woocommerce-result-count {
		// 	float: left;
		// }

		// form.woocommerce-ordering {
		// 	float: right;
		// }

		.page-numbers {
			display: flex;
			justify-content: center;
		}
	}

	aside {
		width: 30%;
	}
}
